.main-login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #344A73;
}
.login-box{
   height: 60vh;
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: white;
   border-radius: 5px;
}
.email-box{
    display: flex;
    flex-direction: column;
}
.password-box{
    display: flex;
    flex-direction: column;
}
.login-hed{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;

}
.btn-login{
    text-align: center;
    
}
.login-button{
    padding: 5px 65px;
    border-radius: 5px;
    border:  1px solid black;
    margin-top: 10px;
}
/* For screens between 601px and 1024px (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
    .login-box{
        width: 60%;
        height: 56vh;
    }
  
  
  }
@media (max-width: 600px) {
    .login-box{
        width: 70%;
    }
    
  }
