.form-sign-in{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #344A73;
}
.main-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70vh;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius:5px ;
}
.heding{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.usename{
    height: 40px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.email{
    height: 40px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.password{
    height: 40px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    padding: 5px 0px;
    outline: none;
}
.btn{
    text-align: center;
    margin-top: 15px;
}
button{
    border: 1px solid black;
    padding: 5px 60px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
button:hover{
    background-color: black;
    color: #FFFFFF;
}
/* For screens between 601px and 1024px (tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
    .main-form{
        width: 70%;
    }
    .usename{
        margin-top:3px ;
    }
  }
@media (max-width: 600px) {
    .main-form{
        width: 70%;
    }
    .usename{
        margin-left:3px ;
    }
    
  }